@model MDBlogPost

@{
    ViewData["Title"] = "Edit Blog Post";
}

<h2>Edit Markdown Post</h2>
<form method="post" asp-controller="MDBlog" asp-action="Save">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <div id="editor"></div>
        <textarea id="Markdown" name="Markdown" hidden>@Model.Markdown</textarea>
        <span asp-validation-for="Markdown" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" onclick="beforeSubmit()">@TranslationService.T(HttpContextAccessor.HttpContext, "Save")</button>
</form>

@section Scripts {
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script>
        const editor = new toastui.Editor({
            el: document.querySelector('#editor'),
            height: '800px',
            initialEditType: 'markdown',
            previewStyle: 'vertical',
            initialValue: document.getElementById('Markdown').value
        });

        function beforeSubmit() {
            document.getElementById('Markdown').value = editor.getMarkdown();
        }
    </script>
}
